<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Offre d'Emploi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Update Offre d'Emploi</h1>
    {% block body %}
        <form id="offreForm" action="/update/{{ offer.id }}" method="post">
            <div class="form-group">
                <label for="employment_type">Employment Type</label>
                <input type="text" class="form-control" id="employment_type" name="employment_type"
                       placeholder="Employment Type" value="{{ offer.employment_type }}">
            </div>
            <div class="form-group">
                <label for="referent">Referent</label>
                <input type="text" class="form-control" id="referent" name="referent" placeholder="Referent" value="{{ offer.referent }}">
            </div>
            <div class="form-group">
                <label for="end_service">End Service</label>
                <input type="date" class="form-control" id="end_service" name="end_service" placeholder="End Service" value="{{ offer.end_service }}">
            </div>
            <div class="form-group">
                <label for="origin">Origin</label>
                <input type="text" class="form-control" id="origin" name="origin" placeholder="Origin" value="{{ offer.origin }}">
            </div>
            <div class="form-group">
                <label for="date_publication">Date Publication</label>
                <input type="date" class="form-control" id="date_publication" name="date_publication"
                       placeholder="Date Publication" value="{{ offer.date_publication }}">
            </div>
            <div class="form-group">
                <label for="skills">Skills</label>
                <input type="text" class="form-control" id="skills" name="skills" placeholder="Skills" value="{{ offer.skills }}">
            </div>
            <div class="form-group">
                <label for="start_service">Start Service</label>
                <input type="date" class="form-control" id="start_service" name="start_service"
                       placeholder="Start Service" value="{{ offer.start_service }}">
            </div>
            <div class="form-group">
                <label for="date_fin">Date Fin</label>
                <input type="date" class="form-control" id="date_fin" name="date_fin" placeholder="Date Fin" value="{{ offer.date_fin }}">
            </div>
            <div class="form-group">
                <label for="job_title">Job Title</label>
                <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Job Title" value="{{ offer.job_title }}">
            </div>
            <div class="form-group">
                <label for="job_description">Job Description</label>
                <input type="text" class="form-control" id="job_description" name="job_description"
                       placeholder="Job Description" value="{{ offer.job_description }}">
            </div>
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id" placeholder="ID" value="{{ offer.id }}">
            </div>
            <div class="form-group">
                <label for="company_name">Company Name</label>
                <input type="text" class="form-control" id="company_name" name="company_name"
                       placeholder="Company Name" value="{{ offer.company_name }}">
            </div>
            <div class="form-group">
                <label for="industries">Industries</label>
                <input type="text" class="form-control" id="industries" name="industries" placeholder="Industries" value="{{ offer.industries }}">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Location" value="{{ offer.location }}">
            </div>
            <div class="form-group">
                <label for="internal_reference">Internal Reference</label>
                <input type="text" class="form-control" id="internal_reference" name="internal_reference"
                       placeholder="Internal Reference" value="{{ offer.internal_reference }}">
            </div>
            <div class="form-group">
                <label for="seniority">Seniority</label>
                <input type="number" class="form-control" id="seniority" name="seniority" placeholder="Seniority" value="{{ offer.seniority }}">
            </div>
            <div class="form-group">
                <label for="experience">Experience</label>
                <input type="number" class="form-control" id="experience" name="experience" placeholder="Experience" value="{{ offer.experience }}">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" name="status" placeholder="Status" value="{{ offer.status }}">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    {% endblock %}
</div>
</body>
</html>